@using K14Forum.CodeHelper;
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown @(CurrentAction.currentAction.Contains("Manage")==true ? "active" : "")">
            <a href="javascript:(void)" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.GetUserName() <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li class="@(CurrentAction.currentAction == "Manage-Article" ? "active" : "")"><a href="/Manage/Articles">Bài viết của tôi</a></li>
                <li class="@(CurrentAction.currentAction == "Manage-Article-Create" ? "active" : "")"><a href="/Article/Create">Tạo bài viết</a></li>
                <li class="divider"></li>
                
                <li class="@(CurrentAction.currentAction == "Manage" ? "active" : "")">@Html.ActionLink("Quản lý tài khoản", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="/Account/LogOff">Đăng xuất</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-form navbar-right">
        @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })
        @Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
    </ul>
}
