@model K14Forum.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@ViewBag.Title</strong>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    <p class="text-info">
                        Vui lòng nhập đầy đủ thông tin và nhấn nút <strong>Đổi mật khẩu</strong> để hoàn tất thay đổi mật khẩu của bạn
                    </p>
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" value="Đổi mật mật" class="btn btn-primary" />
                        <a href="/Manage" class="btn btn-default">Hủy</a>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}