@model K14Forum.Models.UpdateUserViewModel
@{
    ViewBag.Title = "Quản lý";
    //var index = (K14Forum.Models.IndexViewModel)ViewBag.Index;
}

@section scripts{
    <script src="~/Scripts/Controllers/userController.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
}

<div class="row">

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Quản lý thành viên</strong>
            </div>
            <div class="panel-body">
                <p class="text-info">@ViewBag.StatusMessage</p>
                <dl class="dl-horizontal">
                    <dt>Mật khẩu:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Đổi mật khẩu", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Đặt mật khẩu", "SetPassword")
                        }
                        ]
                    </dd>
                    @*<dt>Đăng nhập ngoài:</dt>
                        <dd>
                            @Model.Logins.Count [
                            @Html.ActionLink("Quản lý", "ManageLogins") ]
                        </dd>*@
                </dl>
                <hr />
                @using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @id = "frm-update-user" }))
                {
                    @*<p class="text-info">@ViewBag.UpdateProfileStatusMessage</p>*@
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </fieldset>

                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
                        @{
                            string[] gender = { "Nam", "Nữ", "Khác" };
                        }
                        @Html.DropDownListFor(m => m.Gender, new SelectList(gender, Model.Gender), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </fieldset>

                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </fieldset>

                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.Image, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Image, new { @class = "form-control", @type = "file" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </fieldset>

                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-default"><span class="fa fa-edit"></span>Lưu thay đổi</button>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

