@model K14Forum.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Tạo mật khẩu";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@ViewBag.Title</strong>
            </div>
            <div class="panel-body">
                <p class="text-info">
                    Bạn không có một tên người dùng / mật khẩu địa phương cho trang web này. Thêm một tài khoản địa phương, do đó bạn có thể đăng nhập vào mà không có một đăng nhập bên ngoài.
                </p>

                @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" value="Đặt mật khẩu" class="btn btn-default" />
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}