@model K14Forum.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu?";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@ViewBag.Title</strong>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-default" value="Liên kết email" />
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
