@model K14Forum.Models.RegisterViewModel
@{
    ViewBag.Title = "Đăng ký thành viên";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>@ViewBag.Title</strong>
            </div>
            <div class="panel-body">
                <p class="page-header text-success">Vui lòng điền đầy đủ thông tin và nhấn nút <strong>Đăng ký</strong> để hoàn tất quá trình đăng ký.</p>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    <p class="text-success">@ViewBag.Message</p>
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </fieldset>
                    <fieldset class="form-group">
                        @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                    </fieldset>

                    <fieldset class="form-group">
                        <button type="submit" class="btn btn-default"><span class="fa fa-check"></span> Đăng ký</button>
                        @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                    </fieldset>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="text-center">Đã có tài khoản? @Html.ActionLink("Đăng nhập", "Login")</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
